* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, arial;
  color: black;
  background-color: white;
}

main {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  display: block;
  letter-spacing: 3px;
}

#number {
  display: block;
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0px;
}

button {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 4px 15px;
  border: none;
  border-radius: 6px;
  display: inline-block;
}
